@import "tailwindcss";

@theme {
  --color-whitish: oklch(0.9 0 0);
  --color-blackish: oklch(0.2 0 0);
  --color-dimmed: oklch(0.5 0 0);

  --font-mono: "SUSE Mono", "Noto Sans SC", monospace;
  --font-body-serif: Newsreader, "WenYuan Serif SC VF", serif;
  --font-zh-kai: "ChillKai", serif;
  --font-heading-serif: "Playfair Display", "WenYuan Serif SC VF", serif;

  --animate-blink: blink-animation 1s steps(1, start) infinite;
  @keyframes blink-animation {
      50% {
          visibility: hidden;
      }
  }

  --animate-shake: shake-animation 0.5s ease-in-out;
  @keyframes shake-animation {
    0%, 100% { transform: rotate(0deg); }
    15%      { transform: rotate(-15deg); }
    30%      { transform: rotate(15deg); }
    40%      { transform: rotate(-4deg); }
    50%      { transform: rotate(4deg); }
  }
}

html.main-misc {
  -webkit-font-smoothing: antialiased;
  width: 100%;
  height: 100%;

  body {
    color: var(--color-whitish);
    background-color: var(--color-blackish);
    margin: 0;
    width: 100%;
    height: 100%;
  }
}
